<a href="https://colab.research.google.com/github/niikun/python_and_sql/blob/main/sql_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("db.sqlite")
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE users(
        id INTEGER PRIMARY KEY,
        name TEXT,
        email TEXT
    )
''')

In [3]:
conn.commit()

In [4]:
cursor.execute('''
    INSERT INTO users(name,email)
    VALUES (?,?)
''',("niikun","niikun@test.com"))

conn.commit()

In [5]:
cursor.execute('''
    INSERT INTO users(name,email)
    VALUES (?,?)
''',("ikuoko","ikuko@test.com"))

conn.commit()

In [6]:
cursor.execute('''
    INSERT INTO users(name,email)
    VALUES (?,?)
''',("mayoko","mayoko@test.com"))

conn.commit()

In [7]:
cursor.execute('''
    SELECT * FROM users
''')

for row in cursor:
    print(row)

(1, 'niikun', 'niikun@test.com')
(2, 'ikuoko', 'ikuko@test.com')
(3, 'mayoko', 'mayoko@test.com')

In [10]:
query = "SELECT name,email FROM users ORDER BY name DESC"
for result in cursor.execute(query):
    print(result)

('niikun', 'niikun@test.com')
('mayoko', 'mayoko@test.com')
('ikuoko', 'ikuko@test.com')

In [18]:
query = "SELECT  email FROM users WHERE name = ?"
for result in cursor.execute(query,("niikun",)):
    print(result[0])

niikun@test.com

In [22]:
query = "SELECT name,email FROM users WHERE name LIKE '%ko'"
for result in cursor.execute(query):
    print(result)

('ikuoko', 'ikuko@test.com')
('mayoko', 'mayoko@test.com')