In [2]:
!pip install faker

Requirement already satisfied: faker in /workspaces/python_and_sql/.venv/lib/python3.10/site-packages (26.0.0)
Requirement already satisfied: python-dateutil>=2.4 in /workspaces/python_and_sql/.venv/lib/python3.10/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /workspaces/python_and_sql/.venv/lib/python3.10/site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [3]:
from faker import Faker

In [4]:
fake = Faker()
names = [fake.name().split() for i in range(100)]

In [7]:
names = [name for name in names if len(name)==2]
names[:5]

[['Nichole', 'Mitchell'],
 ['Adam', 'Lloyd'],
 ['Jason', 'Downs'],
 ['Jillian', 'Gilbert'],
 ['Adam', 'Warren']]

In [9]:
names[0][0]

'Nichole'

In [10]:
import sqlite3
connection = sqlite3.connect("sample.db")
cursor = connection.cursor()

In [13]:
for name in names:
    _name = name[0]
    _surname = name[1]
    cursor.execute('''
        INSERT INTO people (name, surname) VALUES (?, ?)
    ''', (_name, _surname))

connection.commit()
cursor.close()
connection.close()